# BEGIN Admin
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /_edit/admin/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /_edit/admin/index.html [L]
</IfModule>
# END Admin
